<div class="card">
  <div class="card-header">
    <%= card.header || "DEFAULT HEADER" %>
  </div>
  <div class="card-image-and-text">
    <%= image_tag card.image_url, class:'card-stacked-image' %>
    <p class="card-stacked-text"><%= card.text.truncate(280) %></p>
  </div>
  <div class="card-footer flex row">
    <% if card.bookmarkable %>
      <div>Bookmarkable</div>
    <% end %>
    <% if card.shareable %>
      <div>Shareable</div>
    <% end %>
  </div>
</div>

<!-- 
<div class="meta">
  <%= render 'cards/publish_toggle', card: card %>
</div>
-->
