
<div class="section-pariyatti mobile-app">
    <div class="section-heading">
        <h2>Mobile App</h2>
        <span class="sub-title">Use the links below to create and publish content to the Pariyatti mobile app.</span>
    </div>
    <ul>
        <li><%= link_to "Manage Cards", cards_path %></li>
        <li>Pages</li>
    </ul>
</div>
