<div class="page-heading">
    <div class="breadcrumb">
        <%= link_to 'Back', publisher_path, class:'link' %>
    </div>
    <div class="header-and-link flex">
        <h1 class="page-header">New Overlay Inspiration Card</h1>
    </div>
</div>

<div class="form-and-preview flex row">
    <%= render 'new_form', card: @card %>
    <%= render "show", card: @card %>
</div>
