<div class="card-heading">
    <div class="breadcrumb">
        <%= link_to 'Back', cards_path, class:'link' %>
    </div>
    <h1>New Overlay Inspiration Card</h1>
</div>

<div class="form-and-preview flex row">
    <%= render 'new_form', card: @card %>
    <%= render "show", card: @card %>
</div>
