<div id="clearance" class="sign-up">
  <div class="page-heading">
    <div class="breadcrumb">
      <%= link_to 'Back', users_path, class:'link' %>
    </div>
    <div class="header-and-link">
      <h1 class="page-header">Create a New User</h1>
    </div>
  </div>

  <%= form_for @user, html: {class: 'form form-centered'} do |form| %>
    <%= render partial: '/users/form', object: form %>

    <div class="submit-field">
      <%= form.submit "Create User" %>
    </div>
  <% end %>
</div>
