<div class="breadcrumb">
    <%= link_to 'Back', users_path, class:'link' %>
</div>
<div class="page-heading">
  <div class="header-and-link">
    <h1 class="page-header"><%= @user.email %></h1>
  </div>
</div>
<div class="section-user-account">
  <p><%= @user.admin ? 'This user is an Admin' : 'This user is not an admin' %></p>
  <%= link_to 'Change Password', edit_user_password_path(@user) %>
</div>
