
<div class="section-pariyatti kosa-admin">
    <div class="section-heading">
        <h2>Kosa Admin</h2>
    </div>
    <ul>
        <li><%= link_to "Users List", users_path %></li>
    </ul>
</div>

<div class="section-pariyatti test-apis">
    <div class="section-heading">
        <h2>Test the APIs (for developers)</h2>
    </div>
    <ul>
        <li><a href="/api/v1/today.json">/api/today.json</a></li>
    </ul>
</div>
