<div class="page-heading">
    <div class="header-and-link">
        <h1 class="page-header">Settings</h1>
        <span class="page-sub-title">Use this page to add users and access the API</span>
    </div>
</div>
<div class="settings-section kosa-admin">
    <h3>Kosa Admin</h3>
    <ul>
        <li><%= link_to "Manage Users", users_path %></li>
    </ul>
</div>
<div class="settings-section test-apis">
    <h3>Test the APIs (for developers)</h3>
    <ul>
        <li><a href="/api/v1/today.json">/api/today.json</a></li>
    </ul>
</div>