<p id="notice"><%= notice %></p>

<h1>Image Collection</h1>

<% @image_artefacts.each do |image_artefact| %>
  <%= link_to image_tag(image_artefact.url, size: '128'), artefacts_image_path(image_artefact) %>
<% end %>

<br>

<%= link_to 'Add Image', new_artefacts_image_path %>

<br/><br/>

<a href="/">Back to Home</a>
