
<div class="card">
  <div class="card-header"><%= card.header %></div>
  <div class="pali-word">
    <%= card.pali %>
  </div>
  <div class="pali-word-translations">
    <% card.translations.each do |t| %>
      <div><span>Language:</span> <%= t.language %>, <span>Translation:</span> <%= t.translation %></div>
    <% end %>
  </div>
  <div class="card-footer flex row">
    <% if card.bookmarkable %>
      <div>Bookmarkable</div>
    <% end %>
    <% if card.shareable %>
      <div>Shareable</div>
    <% end %>
  </div>
</div>
