@import 'colors';
@import 'typography';

/*
This file should have only element level css. Ideally shouldn't have classes and should not have children elements
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1024px;
    margin: 0 auto;
    background: lighten($color: $cream, $amount: 8%);
}

/*
-----------------
#################
Links and its states
#################
-----------------
*/
a.link {
    @include fs-r;
    text-decoration: underline;
    color: rgba($color: $black, $alpha: .87);

    &:hover {
        background: #1AAE9F;
    }
}

/*
-----------------
#################
Input and button elements
#################
-----------------
*/
input {
    width: 100%;
    min-height: 2.5rem;

    padding: 0.5rem 0.75rem;
    margin-bottom: 1.25rem;

    border: 1px solid rgba($color: $black, $alpha: .4);
    border-radius: 2px;
    outline: none;

    @include fs-r; // 16px

    &[type="submit"] {
        // button
        background: $green;
        color: $white;
        border: 1px solid darken($color: $green, $amount: 20%);

        transition: background 150ms ease-out;

        &:hover {
            cursor: pointer;
            background: darken($color: $green, $amount: 5%);
        }
    }

    &:focus {
        border: 1px solid $green;
        box-shadow: 0 0 3px rgba($color: $green, $alpha: 0.24);
    }
}
