// Place all the styles related to the Cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.field {
  textarea {
    width: 350px;
    height: 350px;
  }
}

.image-selector {
  border-style: solid;
  border-width: 4px;
  padding: 8px;
}

.card-index-content {
  padding: 20px;
}

.card {
  width: 350px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  background-color: #f5f5dc;

  .header {
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .overlay-image {
    position: relative;
    width: 350px;
    height: 350px;
    background-size: 350px;
    align-content: center;
  }
  .stacked-image {
    width: 350px;
    height: 350px;
    align-content: center;
  }
  .overlay-text {
    position: absolute;
    bottom: 0px;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
  }
  .stacked-text {
    bottom: 0px;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
  }
  .footer {
    padding: 10px;
    .button {
      text-align: center;
      display: inline-block;
    }
  } 
}
