
@import 'colors';
@import 'base';

#clearance {
  display: flex;
  flex-direction: column;
  
  width: 40%;
  margin: 1rem auto;

  h2 {
    font-size: 1.776rem;
    line-height: 1.44em;
    color: $logo-dark;
    text-align: center;
  }

  form {
    width: 100%;
    margin-top: 1rem;

    input {
      width: 100%;
      height: 2.5rem;
      margin-bottom: 1rem;

      border: 1px solid rgba($color: $black, $alpha: .4);
      outline: none;
    }
  }
}
