
@import 'colors';
@import 'base';

/*
This file has all page related scss
*/

/*
-----------------
#################
SIGN IN
#################
-----------------
*/

#flash .flash {
  padding: 0.5rem;
  align-self: center;
  flex: 0;

  background: $red;
  color: $white;
}

#clearance.sign-in {
  display: flex;
  flex-direction: column;

  width: 40%;
  align-self: center;
  padding: 2rem 0;

  h2 {
    font-size: 1.776rem;
    line-height: 1.44em;
    color: $logo-dark;

    margin-bottom: 0.25rem;
  }

  .form-sign-in {
    width: 100%;
    margin-top: 1rem;

    label {
      color: rgba($color: $black, $alpha: 0.64);
    }

    input {
      padding: 0 0.75rem;
    }

    .other-links {
      text-align: center;
    }
  }
}
