<p id="notice"><%= notice %></p>

<h1>Image Collection</h1>

<% @image_assets.each do |image_asset| %>
  <%= link_to image_tag(image_asset.url, size: '128'), image_asset_path(image_asset) %>
<% end %>

<br>

<%= link_to 'Add Image', new_image_asset_path %>
