<p id="notice"><%= notice %></p>

<p>
  <strong>Added Image:</strong>
  <%= image_tag(@image_asset.url) %>
</p>

<%= link_to 'Edit', edit_image_asset_path(@image_asset) %> |
<%= link_to 'Back', image_assets_path %>
